.spp-img-mask.spp-img-seen {
    border-style: solid;
}

#spp-img-last-seen {
    border-color: rgba(30, 144, 255, 0.3);
}

.spp-img-mask {
    display: grid;
    grid-template-rows: auto auto;
    justify-items: center;
    border-style: dashed;
    width: auto;
    height: 100%;
    text-align: center;
    vertical-align: center;
    cursor: pointer;
}

.spp-hide {
    display: none;
}

.spp-loading-animation {
    width: 150px;
    margin: 50px auto;
    text-align: center;
}

.spp-loading-animation > div {
    width: 18px;
    height: 18px;
    border-radius: 100%;
    display: inline-block;
    background-color: #af0909;
    -webkit-animation: dot 1.4s infinite ease-in-out;
    animation: dot 1.4s infinite ease-in-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.spp-loading-animation .dot1 {
    -webkit-animation-delay: -0.30s;
    animation-delay: -0.30s;
}

.spp-loading-animation .dot2 {
    -webkit-animation-delay: -0.15s;
    animation-delay: -0.15s;
}

@-webkit-keyframes dot {
    0%, 80%, 100% {
        -webkit-transform: scale(0.0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes dot {
    0%, 80%, 100% {
        -webkit-transform: scale(0.0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}